autom4te.cache
config.h
config.log
config.status
configure
GNUmakefile
Makefile
src/tools/xddmcp/xddmcp
src/tools/xddmcp/xddmcp-server
src/tools/xddprof/xddprof
tests/test_config
*.tar.gz
*.o
*.pyc
*.csv
*~
