autom4te.cache
config.h
config.log
config.status
configure
GNUmakefile
Makefile
contrib/ecdsa-0.11.tar.gz
contrib/pycrypto-2.6.1.tar.gz
contrib/pycrypto
contrib/ecdsa
contrib/paramiko
contrib/Pyro4
contrib/serpent
contrib/site-packages
src/base/xdd_base_version.h
src/tools/xddmcp/xddmcp
src/tools/xddmcp/xddmcp-server
src/tools/xddprof/xddprof
tests/distcheck
tests/test_config
*.DS_STORE
*.tar.gz
*.o
*.pyc
*.csv
*~
