#
# A sample config file for xddmcp.  XDDMCP reads config files in order from
# the following locations:
#
#  -c <config file>
#  $XDDMCP_CONFIG_FILE
#  ~/.xddmcp.conf
#  /etc/xddmcp.conf
#
# Four required sections:
#   storage
#   network
#   host
#   flows
#

#
# Storage specifications
#
# <storage> [options]
#
# Valid options: [dio] [loose|strict|none]
#
[storage]
itrend_xfs_src dio loose
itrend_xfs_dest dio none
dtn_lustre_src none
dtn_lustre_dest none

#
# Network Specifications
#
# <network> [options]
#
# Valid options: num_threads
#
[network]
lan_gige 1
usn_chicago_10g 6
usn_seattle_10g 8
usn_svale_10g 48

#
# Host specifications
#
# <host> [space seperated list of interfaces]
#
#[host]
#pod7 pod7 pod7-10g
#pod9 pod9 pod9-10g
#pod10 pod10 pod10-10g
#pod11 pod11 pod11-10g

#
# Data Transfer Flow specifications
#
# <storage> -> <host> -> <network> -> <host> -> <storage>
#
[flows]
#itrend_xfs_src -> pod7 -> lan_gige -> pod9 -> itrend_xfs_dest
itrend_xfs_src -> pod7:pod7-10g -> usn_svale_10g -> pod9:pod9-10g -> itrend_xfs_dest
#itrend_xfs_src -> pod10 -> lan_gige -> pod11 -> itrend_xfs_dest
itrend_xfs_src -> pod10:pod10-10g -> usn_svale_10g -> pod11:pod11-10g -> itrend_xfs_dest

